<template name="home">
    <section class="home">

      <article class="home_content">

        <div class="home_inner_content">
          <hgroup class="home_headlines">
              <h1 class="js-heading-1 name">Mikhail Proniushkin</h1>
              <h1 class="js-heading-2">UX/UI Designer</h1>
              <h1 class="js-heading-3">Front-end Developer</h1>
              <h1 class="js-heading-4">New York</h1>
          </hgroup>

          <nav class="social_links">
            <ul>
              <li><a href="https://dribbble.com/mikhailp" class="social_link" target="_blank"><span>Dribbble</span></a></li>
              <li><a href="https://github.com/mikepro4" class="social_link" target="_blank"><span>Github</span></a></li>
              <li><a href="http://codepen.io/mikepro4/" class="social_link" target="_blank"><span>Codepen</span></a></li>
              <li><a href="http://www.linkedin.com/in/mikepro4/" class="social_link" target="_blank"><span>Linkedin</span></a></li>
              <li><a href="http://dcdnt.net/" class="social_link" target="_blank"><span>Tumblr</span></a></li>
            </ul>
          </nav>

          <aside class="contacts">
            <ul>
              <li><a href="mailto:contact@mikhail.co" class="email_link"><span>contact@mikhail.co</span></a></li>
              <li><span>1.718.510.4402</span></li>
            </ul>
          </aside>
        </div>

      </article>

    </section>
</template>
