<template name="home">
    <section class="home">
       {{> user}}
       {{> contacts}}

        <div class="home_content_wrapper">

            <div class="home_content">
                <h1>I create clear interfaces for complex products <br>
                    using tools like Backbone, Meteor & Node.js</h1>

                <p>I also play synthesizers, make beats, like mountains, <br>
                    design UI interactions and develop front-end heavy apps.</p>

                <a class="contact_me">
                    <span>Contact me</span>
                    <i> ></i>
                </a>
            </div>

        </div>

        {{> footer}}
    </section>
</template>