<template name="contacts">
    <ul class="user_contacts">

        <li class="user_email">
            <a href="mailto:{{user.email}}"
               title="Mikhail Proniushkin – Contact Email – UI Designer, Front-end Developer, New York City – DCDNT">
                <span>{{user.email}}</span>
            </a>
        </li>

        <li class="user_phone">
            <span title="Mikhail Proniushkin – Contact Phone – UI Designer, Front-end Developer, New York City – DCDNT">
                {{user.phone}}
            </span>
        </li>

        <li class="user_state">
            <address title="Mikhail Proniushkin – Contact City – UI Designer, Front-end Developer, New York City – DCDNT">
                New York
            </address>
        </li>

    </ul>
</template>