<template name="user">
    <div class="user_section">
        <div class="user_name">
            <a href="http://mikhail.co" title="Mikhail Proniushkin – UI Designer, Front-end Developer, New York City – DCDNT">
                <h1 title="Mikhail Proniushkin – UI Designer, Front-end Developer, New York City – DCDNT">
                    {{user.firstName}} <br>
                    {{user.lastName}}
                </h1>
            </a>
        </div>

        <div class="user_position">
            {{user.position}}
        </div>
    </div>
</template>